Skip to content

Search…
All gists
GitHub
New gist
@summitdavid 
24
11 @teocomiteocomi/.gitignore
Created 2 years ago • 
 
<script src="https://gist.github.com/teocomi/fbd014c26c63c7c1055d025e2339dea7.js"></script>
  
 Code  Revisions 1  Stars 24  Forks 11
Gitignore for Unity projects
 .gitignore
# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
 @nikhilsinha
nikhilsinha commented on May 5, 2017
Why are .sln and .csproj files in this file? Aren't those needed for Visual Studio?

 @Arrekin
Arrekin commented on May 13, 2017
Unity can generate those files so they are not necessary,

 @jwvanderbeck
jwvanderbeck commented on May 26, 2017
I'm not so sure about excluding the sln honestly. Especially today. In older versions of Unity sure, it would wipe them out and rebuild them every time anyway so no big deal. But today Unity seems to be getting better about not doing that, and the direction Visual Studio is going, especially with NuGet, I think the sln is going to become more important.

 @dylanh724
dylanh724 commented on Jun 29, 2017
Is this still valid for July 2017?

 @danielson317
danielson317 commented on Aug 15, 2017
Just tried this out. Without the project file it opens the project in a new unsaved scene when opened on a new computer. So I had to select my default scene and all seemed to work from there. Seems like this still works as of August 2017.

 @dimkir
dimkir commented on Nov 13, 2017
Removing .sln files makes me cringe..

But a more practical question would be: upon which events Unity will regenerate .sln files? Also where are dependencies and project prefs kept? (eg which .cs files are "included into project" and which once are "not included"?) Trying to wrap my head around inner workings of the Unity<>VS interchange...

 @dimkir
dimkir commented on Nov 13, 2017
also why .unityproj is not necessary?

Which is the "main" unity project file then?

 @summitdavid
   
 
 
Leave a comment
Attach files by dragging & dropping, , or pasting from the clipboard.  Styling with Markdown is supported
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
Press h to open a hovercard with more details.